block config
  include variables

include ../includes/mixins

doctype html
html(lang="es")
  head
    title= `${pageTitle} - ${siteName}`
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet" href="css/styles.css")
    link(rel="shortcut icon" href="img/favicon.png")

  body
    header.main-header#mainHeader
      include ../includes/header
    main
      block main
    footer.main-footer#main-footer
      include ../includes/footer
    .loading#loading
      img(src="img/loadingPage.svg" alt="Loading Page")

    script(src="js/scripts-min.js")
